<h1>My Contacts</h1>
<table>
<tr>
<th>Person</th>
<th>Phone Number</th>
</tr>
<% @contacts.each do |contact| %>
 <tr>
<td>     
  <%= contact.person %>
</td>
<td>
  <%= contact.phonenumber %>
</td>
</tr>

<% end %>
</table>
<p><%= link_to 'New contact', new_contact_path %></p>

